section {
  overflow: hidden;
}

.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.languages-main-desc {
  color: white;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: #eeff05;
  margin: 0 auto;
  margin-bottom: 20px;
}

.languages-main-title {
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
  }
  #languages {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../assets/language-background.jpg") fixed center center;
    background-size: cover;
    padding: 80px 0 60px 0;
  }
  
  #languages .languages-item {
    margin-bottom: 20px;
  }
  
  #languages .languages-icon {
    float: left;
    background: #eeff05;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #eeff05;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
  }
  
  #languages .languages-icon i {
    color: black;
    font-size: 24px;
    line-height: 0;
  }
  
  #languages .languages-item:hover .language-icon {
    background: black;
  }
  
  #languages .languages-item:hover .language-icon i {
    color: #eeff05;
  }
  
  #languages .languages-title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  #languages .languages-title a {
    color: #111;
  }
  
  #languages .languages-description {
    margin-left: 80px;
    line-height: 24px;
    color: rgb(255, 255, 255);
  }
  
  #languages {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/language-background.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
  }
  
  #languages .languages-title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 700;
  }
  
  #languages .languages-text {
    color: #fff;
  }
  
  #languages .languages-btn-container {
    text-align: center;
    padding-top: 20px;
  }
  
  #languages .languages-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }