#contact {
    background: #f7f7f7;
    padding: 80px 0 120px 0;
  }
  
  #contact .info {
    color: #333333;
  }
  
  #contact .info i {
    font-size: 32px;
    color: black;
    float: left;
    line-height: 0;
    padding-top: 15px;
  }
  
  #contact .info p {
    padding: 0 0 10px 50px;
    line-height: 24px;
  }
