#contact {
  background: rgb(223, 223, 223);
  padding: 80px 0 120px 0;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: black;
  float: left;
  line-height: 0;
  padding-top: 15px;
}

#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}

.sent {
  padding-top: 125px;
  padding-bottom: 88px;
  text-align: center;
  color: green;
}

.send-button {
  text-align: center;
  padding-top: 5px;
}